*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.text-wrapper {
  text-align: center;
}

.headline {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.red {
  color: #d90d51;
}

.sub-headline {
  font-size: 2.5rem;
  color: #fff;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}